        .snowflake {
            position: fixed;
            top: -10px;
            z-index: 9999;
            color: #fff;
            font-size: 1em;
            text-shadow: 0 0 5px #000;
            animation: fall linear infinite;
            pointer-events: none;
        }
        .footer {
                    text-align: center;
                    padding: 20px;
                    color: #ffd700;
                    font-weight: 600;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

    .sidebar .nav-link.logout-link:hover {
        background: rgba(196, 30, 58, 0.2);
        border-color: rgb(196, 30, 58);
        transform: translateX(5px);
        color: white;
        box-shadow: 0 4px 15px rgba(220, 53, 69, 0.4);
    }